{% extends "layout.html" %}

{% block content %}
    <h1>Welcome to My Flask Blog!</h1>
    <a href="{{ url_for('add') }}" class="button-link">
        <button type="button">✍️ Add New Post</button> </a>
        {% for post in posts %}
            <h2 style="margin: 0; padding-right: 10px;"> {{ post["title"] }} </h2>
            <span style="font-size: 0.9em; color: #555;"> by {{ post["author"] }} </span> <br />
            <small style="font-size: 0.7em; color: #555;"> ID: {{ post["id"] }} </small>
            <p> {{ post["content"] }}</p>
        {% endfor %}
{% endblock %}